@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-end-rgb));
}

.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.1s ease-in-out;
}


#cta {
    @apply transition;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    opacity: 0;
}

#cta .arrow {
    left: 50%;
}

.segunda {
    margin-left: 8px
}

.arrow {
    @apply text-gray-600 dark:text-gray-500;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 14px;
    height: 14px;
    transform-origin: 50% 50% 0;
    display: flex;
}

.arrow-motion:hover #cta {
    opacity: 1;
}

.arrow-motion:hover .arrow {
    animation-name: bounceAlpha;
    animation-delay: 0.1s;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.arrow-motion:hover .primera {
    animation-name: bounceAlpha;
    animation-duration: 1.6s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}